name: Build and release Alpine for WSL
run-name: Build and Release Alpine ${{ github.ref_name }}

on:
  push:
    tags:
      - "3.23.[0-9]+-[0-9]+"

jobs:
  build-alpine-distributions:
    name: Build Alpine ${{ github.ref_name }} ${{ matrix.arch }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    permissions:
      contents: read
    env:
      RELEASE_TAG: ${{ github.ref_name }}
    strategy:
      matrix:
        arch:
          - x86_64
          - aarch64

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Define variables
        run: |
          set -euo pipefail

          ALPINE_RELEASE="${RELEASE_TAG}"
          ALPINE_VERSION="${RELEASE_TAG%-*}"
          ALPINE_BRANCH="${RELEASE_TAG%.*}"
          ALPINE_ROOTFS="alpine-minirootfs-${ALPINE_VERSION}-${{ matrix.arch }}.tar.gz"
          ALPINE_ROOTFS_SHA="${ALPINE_ROOTFS}.sha256"
          ALPINE_ROOTFS_URL="https://dl-cdn.alpinelinux.org/alpine/v${ALPINE_BRANCH}/releases/${{ matrix.arch }}/${ALPINE_ROOTFS}"
          ALPINE_ROOTFS_SHA_URL="${ALPINE_ROOTFS_URL}.sha256"

          {
            echo "ALPINE_RELEASE=$ALPINE_RELEASE"
            echo "ALPINE_VERSION=$ALPINE_VERSION"
            echo "ALPINE_BRANCH=$ALPINE_BRANCH"
            echo "ALPINE_ROOTFS=$ALPINE_ROOTFS"
            echo "ALPINE_ROOTFS_SHA=$ALPINE_ROOTFS_SHA"
            echo "ALPINE_ROOTFS_URL=$ALPINE_ROOTFS_URL"
            echo "ALPINE_ROOTFS_SHA_URL=$ALPINE_ROOTFS_SHA_URL"
          } >> "$GITHUB_ENV"

      - name: Install arm64 dependencies
        if: matrix.arch == 'aarch64'
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static binfmt-support
          sudo update-binfmts --enable qemu-aarch64

      - name: Download and verify distribution
        run: |
          set -euo pipefail

          wget -O ${{ env.ALPINE_ROOTFS }} ${{ env.ALPINE_ROOTFS_URL }}
          wget -O ${{ env.ALPINE_ROOTFS_SHA }} ${{ env.ALPINE_ROOTFS_SHA_URL }}
          sha256sum -c ${{ env.ALPINE_ROOTFS_SHA }}

      - name: Prepare distribution
        run: |
          set -euo pipefail

          mkdir ${{ matrix.arch }}
          sudo tar -xzf ${{ env.ALPINE_ROOTFS }} -C ${{ matrix.arch }}
          sudo cp /etc/resolv.conf ${{ matrix.arch }}/etc/resolv.conf

      - name: Add arm64 specific build dependency
        if: matrix.arch == 'aarch64'
        run: |
          sudo cp /usr/bin/qemu-aarch64-static ${{ matrix.arch }}/usr/bin/

      - name: Set up distribution
        run: |
          set -euo pipefail

          sudo chroot ${{ matrix.arch }} apk update
          sudo chroot ${{ matrix.arch }} apk upgrade

          sudo install -D -m 644 "alpine/etc/apk/world" "${{ matrix.arch }}/etc/apk/world"

          sudo chroot ${{ matrix.arch }} apk fix

          while read -r source destination mode; do

            [ -z "$source" ] && continue

            case "$source" in
              \#*) continue ;;
            esac

            sudo install -D -m "$mode" "alpine/$source" "${{ matrix.arch }}$destination"

          done < meta/files.list

          sudo chroot "${{ matrix.arch }}" ln -sf /init /usr/bin/wslinfo
          sudo chroot "${{ matrix.arch }}" ln -sf /init /usr/bin/wslpath

      - name: Set up services
        run: |
          set -euo pipefail

          while read -r service runlevel; do

            [ -z "$service" ] && continue

            case "$service" in
              \#*) continue ;;
            esac

            sudo chroot ${{ matrix.arch }} rc-update add "$service" "$runlevel"

          done < meta/services.list

      - name: Pack distribution
        run: |
          set -euo pipefail

          sudo tar -cf - \
            --numeric-owner \
            --exclude-from=meta/excludes.list \
            -C ${{ matrix.arch }} . \
            | gzip -9 > alpine-${{ env.ALPINE_RELEASE }}-${{ matrix.arch }}.wsl
          sha256sum alpine-${{ env.ALPINE_RELEASE }}-${{ matrix.arch }}.wsl > alpine-${{ env.ALPINE_RELEASE }}-${{ matrix.arch }}.wsl.sha256

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: alpine-${{ env.ALPINE_RELEASE }}-${{ matrix.arch }}
          path: |
            alpine-${{ env.ALPINE_RELEASE }}-${{ matrix.arch }}.wsl
            alpine-${{ env.ALPINE_RELEASE }}-${{ matrix.arch }}.wsl.sha256

  validate-alpine-distributions:
    name: Validate Alpine ${{ github.ref_name }} ${{ matrix.arch }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs: build-alpine-distributions
    permissions:
      contents: read
    strategy:
      matrix:
        arch:
          - x86_64
          - aarch64

    steps:
      - name: Download Alpine ${{ github.ref_name }} ${{ matrix.arch }} artifact
        uses: actions/download-artifact@v7
        with:
          name: alpine-${{ github.ref_name }}-${{ matrix.arch }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Prepare test environment
        run: |
          set -euo pipefail

          wget -O validate-modern.py \
            https://raw.githubusercontent.com/microsoft/WSL/master/distributions/validate-modern.py
          wget -O requirements.txt \
            https://raw.githubusercontent.com/microsoft/WSL/master/distributions/requirements.txt

          pip install -r requirements.txt --quiet

      - name: Validate Alpine ${{ github.ref_name }} ${{ matrix.arch }}
        run: |
          python validate-modern.py ${{ matrix.arch == 'aarch64' && '--arm64' || '' }} \
            --tar "alpine-${{ github.ref_name }}-${{ matrix.arch }}.wsl"

  release-alpine-distributions:
    name: Release Alpine ${{ github.ref_name }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs: validate-alpine-distributions
    permissions:
      contents: write

    steps:
      - name: Download artifacts Alpine ${{ github.ref_name }}
        uses: actions/download-artifact@v7

      - name: Release Alpine ${{ github.ref_name }}
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            alpine-${{ github.ref_name }}-*/alpine-${{ github.ref_name }}-*.wsl
            alpine-${{ github.ref_name }}-*/alpine-${{ github.ref_name }}-*.wsl.sha256
